html{
  font-family: "M PLUS 1p";
}

h1, h2, h3, p, li{
  padding: 5px;
} 
li {
  text-align: left;
}

.item {
  width: 100%;
  padding:10px 0;
  margin: 5px 0;
  text-align: center;
}

.header {
  background-color: #7475cb;
  color:#fff;
}

.game {
  background-color: aquamarine;
}

.heading {
  
}

.discliption {
}

.footer {
  background-color: #7475ff;
  color:#fff;
}

.button {
  display: inline-block;
  width:100px;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: #fff;
  background-color: #ffa500;
  cursor: pointer;
}

.footer > .button {
  background-color: #ffa5ff;
  color: #000;
}

.block {
  display: inline-block;
}

.manual{
  background-color: #99ff87;
}

.date {
  background-color: #99ffff;
}

.free {
  background-color: #ffff83;
}

.bug {
  background-color: #ffbb83;
}

.reset {
  background-color: #f55;
  color: #fff;
  font-weight: bold;
}

.tweet{
  background-color: #00acee;
  color: #fff;
  font-weight: bold;
}

.color-red{
  color: #f00;
  font-weight: bold;
}